@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
/* Center the slider on the page */
body,
#slider,
.wrap,
.slide-content {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.wrap {
  position: relative;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0s;
}

.slide1 {
  background-image: url("./asset/slider\ 1.jpg");
}
.slide2 {
  background-image: url("./asset/Slider\ 2.jpg");
}
.slide3 {
  background-image: url("./asset/Slider\ 3.jpg");
}
.slide4 {
  background-image: url("./asset/slider4.webp");
}
.slide5 {
  background-image: url("./asset/slider5.webp");
}
.slide6 {
  background-image: url("./asset/slider6.webp");
}
.slide7 {
  background-image: url("./asset/slider7.webp");
}
.slide8 {
  background-image: url("./asset/slider8.webp");
}
.slide9 {
  background-image: url("./asset/slider9.webp");
}
.slide10 {
  background-image: url("./asset/slider10.webp");
}
.slide11 {
  background-image: url("./asset/slider11.webp");
}
.slide12 {
  background-image: url("./asset/slider12.webp");
}
.slide13 {
  background-image: url("./asset/slider13.webp");
}
.slide14 {
  background-image: url("./asset/slider14.webp");
}
.slide15 {
  background-image: url("./asset/slider15.webp");
}
.slide16 {
  background-image: url("./asset/slider16.webp");
}
.slide17 {
  background-image: url("./asset/slider17.webp");
}
.slide18 {
  background-image: url("./asset/slider18.webp");
}
.slide19 {
  background-image: url("./asset/slider19.webp");
}
.slide20 {
  background-image: url("./asset/slider20.webp");
}
.slide21 {
  background-image: url("./asset/slider21.webp");
}
.slide22 {
  background-image: url("./asset/slider22.webp");
}
.slide23 {
  background-image: url("./asset/slider23.webp");
}
.slide24 {
  background-image: url("./asset/slider24.webp");
}
.slide25 {
  background-image: url("./asset/slider25.webp");
}
.slide26 {
  background-image: url("./asset/slider26.webp");
}
.slide27 {
  background-image: url("./asset/slider27.webp");
}
.slide28 {
  background-image: url("./asset/slider28.webp");
}
.slide29 {
  background-image: url("./asset/slider29.webp");
}
.slide30 {
  background-image: url("./asset/slider30.webp");
}

.slide-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
  /* align-items: center; */
  text-align: center;
}

.social-icon-container{
    margin-left: 100px;
    display: flex;
    gap: 20px;
    justify-content: end;
    flex-direction: column;
    margin-bottom: 100px;
}
a{
    text-decoration: none;
 }
.fab,.fa-solid{
    cursor: pointer;
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 100%;
}
.fab:hover{
    background-color: #222222;
    color: white;
}
.fa-solid:hover{
    background-color: #222222;
    color: white;
}
.content {
  margin-top: 160px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}
.slide-content span {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 700;
  text-shadow: 4px 4px #222222;
  color: #fff;
}
.slide-content p {
    margin: 0px;
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 400;
    letter-spacing: 3px;
    text-shadow: 3px 4px #222222;
    color: #fff;
}

.dir-control {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 0;
  height: 0;
  z-index: 5;
}
.fa {
  display: inline-block;
  line-height: 50px;
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  vertical-align: bottom;
}

#dir-control-left {
  left: 0;
  margin-left: 50px;
}

#dir-control-right {
  right: 0;
  margin-right: 100px;
}
.slider-active {
  visibility: hidden;
  opacity: 0;
}
.slide.slide-is-active {
  visibility: visible;
  opacity: 1;
}

.slide-transition {
  transition: all 0.9s ease-in-out;
}
@media (max-width: 600px) {
    .slide-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 100px;
        align-items: center;
        /* align-items: center; */
        text-align: center;
      }
      .content {
        margin-top: 120px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
      }
    .slide-content span {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 700;
        text-shadow: 4px 4px #222222;
        color: #fff;
      }
      .slide-content p {
          margin: 0px;
          font-size: 1rem;
          line-height: 3rem;
          font-weight: 400;
          letter-spacing: 3px;
          text-shadow: 2px 2px #222222;
          color: #fff;
      }
      .social-icon-container{
        margin-left: 0px;
        display: flex;
        gap: 20px;
        justify-content: end;
        flex-direction: row;
        margin-bottom: 60px;
    }
      #dir-control-left {
        left: 0;
        margin-left: 10px;
      }
      
      #dir-control-right {
        right: 0;
        margin-right: 60px;
      }
}
@media (max-width: 1000px) {
    .slide-content {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 100px;
        align-items: center;
        /* align-items: center; */
        text-align: center;
      }
      .content {
        margin-top: 120px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
      }
    .slide-content span {
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 700;
        text-shadow: 4px 4px #222222;
        color: #fff;
      }
      .slide-content p {
          margin: 0px;
          font-size: 1rem;
          line-height: 3rem;
          font-weight: 400;
          letter-spacing: 3px;
          text-shadow: 2px 2px #222222;
          color: #fff;
      }
      .social-icon-container{
        margin-left: 0px;
        display: flex;
        gap: 20px;
        justify-content: end;
        flex-direction: row;
        margin-bottom: 60px;
    }
      #dir-control-left {
        left: 0;
        margin-left: 10px;
      }
      
      #dir-control-right {
        right: 0;
        margin-right: 60px;
      }
}

